<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">

      {% if page.layout != 'index' %}
        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% if posts.size == 0 %}
          {% assign posts=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% endif %}
          {% if posts.size > 1 %}
          <div class="footer-lang-options">
            <em>{{ site.data.translations['differentLanguage'][page.lang] }}:</em>
            <ul>
            {% for post in posts %}
            <li><a href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }}" title="View in {{post.lang}}">{{ site.data.languages[post.lang].label }}</a></li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
      {% endif %}

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>

    </div>

  </div>

</footer>
