<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div>

  {%- if page.ref and page.lang -%}

    {%- if page.layout == 'page' -%}
      {%- assign pages = site.pages -%}
    {%- endif -%}

    {%- if pages -%}
      {%- assign pages_in_ref = pages | where:"ref", page.ref | sort: 'lang' -%}
      {%- if pages_in_ref.size > 1 -%}
      <div class="wrapper">
        <div class="footer-lang-options">
          <em>{{ site.data.translations['different_languages'][page.lang] }}</em>
          <ul>
          {%- for page in pages_in_ref -%}
          <li><a href="{{ site.base-url }}{{ page.url }}" class="{{ page.lang }}" title="View in {{ page.lang }}">{{ site.data.languages[page.lang].label }}</a></li>
          {%- endfor -%}
          </ul>
        </div>
      </div>
      {%- endif -%}
    {%- endif -%}

  {%- endif -%}
</header>
